# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/

*/build/*
*/Build/*
git_templates/*
DerivedData/*
*Demo/*.pbxuser
*Example/*.pbxuser
*.DS_Store
*.swp
./git/*

./*/*.backup
./*/*.backup*/
*.backup

ArchiveProduction/*
./ArchiveProduction/*

*.xcuserdata*
#.gitattributes
*xcuserdata*
*.pyc
*Demo/tools/Fabric.app/*
*Example/tools/Fabric.app/*
*/*Demo*.xcconfig
*/*Example*.xcconfig

# Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
./*/revision.h


# Pods
*/Pods/*
*Demo/Pods/*
*Example/Pods/*
*/Podfile.lock
Podfile.lock

*/.idea/*
./*/.idea/*
.idea/*


# .gitkeep
/**/.gitkeep


# Static or Dynamic library
/**/scripts/frameworks
/**/Example/**/*.framework
/**/Example/**/*.a
/**/Example**/*.lib


# Bitcode Folder
Patches/


*.txt
*.rtf